footer.footer
    .wrapper
        .grid
            .footer__item &copy; 2020 Все права защищены
            .footer__item
                a(href="#").footer__item-link Политика конфиденциальности
            .footer__item.footer__production Сделано в
                a(href="#").footer__item-link.footer__item-link--dark &nbsp;Koteyka_Production