header.header
    .wrapper.header__wrap
        .grid
            .header__logo.cell.xl-4
                a.header__logo-link(href="/")
                    svg.header__logo-svg
                        use(href="#logo")
                    .header__logo-text котейка
            input.burger(type="checkbox" id="burger")
            label.burger__label(for="burger")
            nav.menu.grid.cell.xl-8.end-xl.middle-xl
                .menu__item
                    a.menu__item-link(data-text="Почему мы?" href="#") Почему мы?
                .menu__item
                    a.menu__item-link(data-text="Номера" href="#") Номера
                .menu__item
                    a.menu__item-link(data-text="Отзывы" href="#") Отзывы
                .menu__item
                    a.menu__item-link(data-text="Как нас найти" href="#") Как нас найти
