extends common/layout

block content
    main.main
        .wrapper
            h1 Наши номера
            include partials/sorting.pug
            .grid.ungutter
                .xl-3
                    include partials/sidebar.pug
                .xl-9
                    include partials/cards.pug
