.grid.card
    .card__item.cell.xl-4
        .card__wrap
            .card__photo
                img.card__photo-img(src="img/cat1.jpg" alt="cat1")
            .card__content
                a.card__heading(href="#") Эконом
                .card__info
                    .card__info-item Площадь - 0,63 м2
                    .card__info-item Оснащение номера
                        svg.card__info-svg
                            use(href="#empty")
                    .card__info-item Цена за сутки:
                        span.card__info-price 100₽
                .card__btn
                    button.button.card__btn-item
                        span.card__btn-text Забронировать
                        i.card__btn-icon
                            svg.card__btn-svg
                                use(href="#paw")

    .card__item.cell.xl-4
        .card__wrap
            .card__photo
                img.card__photo-img(src="img/cat2.jpg" alt="cat1")
            .card__content
                a.card__heading(href="#") Эконом плюс
                .card__info
                    .card__info-item Размеры (ШхГхВ) - 90х100х180 см
                    .card__info-item Площадь - 0,90 м2
                    .card__info-item Оснащение номера
                        svg.card__info-svg.card__info-svg--sofa
                            use(href="#sofa")
                        svg.card__info-svg
                            use(href="#stend")

                    .card__info-item Цена за сутки:
                        span.card__info-price 200₽
                .card__btn
                    button.button.card__btn-item
                        span.card__btn-text Забронировать
                        i.card__btn-icon
                            svg.card__btn-svg
                                use(href="#paw")

    .card__item.cell.xl-4
        .card__wrap
            .card__photo
                img.card__photo-img(src="img/cat3.jpg" alt="cat1")
            .card__content
                a.card__heading(href="#") Комфорт
                .card__info
                    .card__info-item Размеры (ШхГхВ) - 100х125х180 см
                    .card__info-item Площадь - 1,13 м2
                    .card__info-item Оснащение номера
                        svg.card__info-svg.card__info-svg--sofa
                            use(href="#sofa")
                        svg.card__info-svg
                            use(href="#stend")
                        svg.card__info-svg
                            use(href="#ball")

                    .card__info-item Цена за сутки:
                        span.card__info-price 250₽
                .card__btn
                    button.button.card__btn-item
                        span.card__btn-text Забронировать
                        i.card__btn-icon
                            svg.card__btn-svg
                                use(href="#paw")

    .card__item.cell.xl-4
        .card__wrap
            .card__photo
                img.card__photo-img(src="img/cat4.jpg" alt="cat1")
            .card__content
                a.card__heading(href="#") Сьют
                .card__info
                    .card__info-item Размеры (ШхГхВ) - 125х125х180 см
                    .card__info-item Площадь - 1,56 м2
                    .card__info-item Оснащение номера
                        svg.card__info-svg.card__info-svg--sofa
                            use(href="#sofa")
                        svg.card__info-svg
                            use(href="#stend")
                        svg.card__info-svg
                            use(href="#ball")

                    .card__info-item Цена за сутки:
                        span.card__info-price 350₽
                .card__btn
                    button.button.card__btn-item
                        span.card__btn-text Забронировать
                        i.card__btn-icon
                            svg.card__btn-svg
                                use(href="#paw")

    .card__item.cell.xl-4
        .card__wrap
            .card__photo
                img.card__photo-img(src="img/cat5.jpg" alt="cat1")
            .card__content
                a.card__heading(href="#") Люкс
                .card__info
                    .card__info-item Размеры (ШхГхВ) - 160х160х180 см
                    .card__info-item Площадь - 2,56 м2
                    .card__info-item Оснащение номера
                        svg.card__info-svg.card__info-svg--sofa
                            use(href="#sofa")
                        svg.card__info-svg
                            use(href="#stend")
                        svg.card__info-svg
                            use(href="#ball")

                    .card__info-item Цена за сутки:
                        span.card__info-price 500₽
                .card__btn
                    button.button.card__btn-item
                        span.card__btn-text Забронировать
                        i.card__btn-icon
                            svg.card__btn-svg
                                use(href="#paw")

    .card__item.cell.xl-4
        .card__wrap
            .card__photo
                img.card__photo-img(src="img/cat4.jpg" alt="cat1")
            .card__content
                a.card__heading(href="#") Супер-Люкс
                .card__info
                    .card__info-item Размеры (ШхГхВ) - 180х160х180 см
                    .card__info-item Площадь - 2,88 м2
                    .card__info-item Оснащение номера
                        svg.card__info-svg.card__info-svg--sofa
                            use(href="#sofa")
                        svg.card__info-svg
                            use(href="#stend")
                        svg.card__info-svg
                            use(href="#ball")
                        svg.card__info-svg
                            use(href="#house")

                    .card__info-item Цена за сутки:
                        span.card__info-price 600₽
                .card__btn
                    button.button.card__btn-item
                        span.card__btn-text Забронировать
                        i.card__btn-icon
                            svg.card__btn-svg
                                use(href="#paw")