.sort
    .sort__btn#sort
        svg.sort__btn-svg
            use(href="#arrow")
    .sort__wrap

        .sort__item.show
            svg.sort__item-svg
                use(href="#up")
            span По площади

        .sort__item
            svg.sort__item-svg
                use(href="#down")
            span По площади
        .sort__item
            svg.sort__item-svg
                use(href="#down")
            span По цене
        .sort__item
            svg.sort__item-svg
                use(href="#down")
            span По цене