.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: $grid-module 0;
  background-color: map_get($palette, bg);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
  z-index: 10;

  &__logo {
    &-link {
      display: inline-block;
      text-align: center;
    }

    &-text {
      color: map_get($palette, content);
      font-family: Boomboom, Arial, serif;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0.03em;
    }

    &-svg {
      width: 32px;
      height: 35px;
    }
  }
}